* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 720px;
  margin: 5rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header */

.header {
  width: inherit;
  height: 111px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.01rem solid #e0e0e0;
}

.header > .header--logo {
  width: 43px;
}

.header > .header--logo__text {
  font-size: 32px;
  font-weight: 400;
  color: #141413;
  line-height: 60px;
  margin-left: 10px;
}

/* Main -- Form */
.main {
  width: inherit;
  background-color: #fafaf8;
  padding: 67px 63px;
}

.main > .main--form {
  display: flex;
  justify-content: center;
}

.main > .main--form > .main--form__input {
  width: 399px;
  height: 38px;
  border: 0.01rem solid #d1d5db;
  border-radius: 6px;
  padding: 9px 13px;
  font-size: 16px;
  font-weight: 400;
  margin-right: 12px;
}

.main > .main--form > .main--form__button {
  border: none;
  width: 183px;
  height: 38px;
  border-radius: 6px;
  padding: 9px 17px;
  background-color: #141413;
  color: white;
  cursor: pointer;
  transition: all 0.03s;
}

.main > .main--form > .main--form__button::before {
  content: "+";
  margin-right: 8px;
}

.main > .main--form > .main--form__button:hover {
  background-color: #d17557;
}

/* Main -- Ingredients List */
.main > .main--ingredients {
  margin-top: 48px;
}

.main > .main--ingredients > .main--ingredients__heading {
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 24px;
}

.main > .main--ingredients > .main--ingredients__list {
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  color: #475467;
  list-style: none;
}

.main--ingredients__list-item::before {
  content: "•";
  margin-right: 8px;
}

/* Main -- Get Recipe */
.main--get-recipe {
  margin-top: 48px;
  padding: 30px 40px;
  background-color: #f0efeb;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
}

.main--get-recipe > div > .main--get-recipe__heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #141413;
  margin-bottom: 8px;
}

.main--get-recipe > div > .main--get-recipe__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #6b7280;
}

.main--get-recipe > .main--get-recipe__button {
  border: none;
  width: 115px;
  height: 38px;
  border-radius: 6px;
  padding: 9px 17px;
  background-color: #d17557;
  color: white;
  cursor: pointer;
  transition: all 0.03s;
}

/* Main -- Suggested Recipe */
.main--suggested-recipe {
  margin-top: 48px;
}

.main--suggested-recipe > .main--suggested-recipe__heading {
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 24px;
}
