* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 720px;
  margin-top: 5rem;
}

/* Header */

.header {
  width: inherit;
  height: 111px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.01rem solid #e0e0e0;
}

.header > .header--logo {
  width: 43px;
}

.header > .header--logo__text {
  font-size: 32px;
  font-weight: 400;
  color: #141413;
  line-height: 60px;
  margin-left: 10px;
}

/* Main */
.main {
  width: inherit;
  background-color: #fafaf8;
  padding: 67px 63px;
}

.main > .main--form {
  display: flex;
  justify-content: center;
}

.main > .main--form > .main--form__input {
  width: 399px;
  height: 38px;
  border: 0.01rem solid #d1d5db;
  border-radius: 6px;
  padding: 9px 13px;
  font-size: 16px;
  font-weight: 400;
  margin-right: 12px;
}

.main > .main--form > .main--form__button {
  border: none;
  width: 183px;
  height: 38px;
  border-radius: 6px;
  padding: 9px 17px;
  background-color: #141413;
  color: white;
  cursor: pointer;
  transition: all 0.03s;
}

.main > .main--form > .main--form__button::before {
  content: "+";
  margin-right: 8px;
}

.main > .main--form > .main--form__button:hover {
  background-color: #d17557;
}
